@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to <b>"The Capture"</b></h1>
    @*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
</div>
<head>

    <link href="~/bootstrap/css/bootstrap-grid.min.css" rel="stylesheet" />
    <link href="~/CustomStyle.css" rel="stylesheet" />
</head>
<body>
    <br /><br />

    <div class="container">
        <div class="row">

            <div class="col-lg-3 col-md-4 col-sm-6">
                <img src="~/display/Nature.jpg" class="img-thumbnail" />
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6">
                <img src="~/display/Friends.jpg" class="img-thumbnail" />
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6">
                <img src="~/display/Lion.jpg" class="img-thumbnail" />
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6">
                <img src="~/display/Man City.jpg" class="img-thumbnail" />
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6">
                <img src="~/display/Covid-19.jpg" class="img-thumbnail" />
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <img src="~/display/Nikon.jpg" class="img-thumbnail" />
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6">
                <img src="~/display/George Floyd.jpg" class="img-thumbnail" />
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6">
                <img src="~/display/Black Lives Matter.jpg" class="img-thumbnail" />
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6">
                <img src="~/display/Kobe Bryant.jpg" class="img-thumbnail" />
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6">
                <img src="~/display/Lock down.jpg" class="img-thumbnail" />
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6">
                <img src="~/display/Nurse 2.jpg" class="img-thumbnail" />
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6">
                <img src="~/display/Black Panther.jpg" class="img-thumbnail" />
            </div>

        </div>
     </div>
</body>